@import "foundation/settings";
@import "foundation/components/block-grid";
/*
    BLOG-PANEL.CSS

    - Last updated: 05.12.14
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Blog Section (Internal)
//-----------------------------------------------------------------

.blog-section {
    background: $secondary-color;

    @media #{$medium-up} {
        padding: rem-calc(20 0);
    }
}

//-----------------------------------------------------------------
// Blog Panel
//-----------------------------------------------------------------

.blog-panel {
    position: relative;
    background: rgba($primary-color, 0.7);
    margin-top: rem-calc(30); // a bit hacky

    .inner {
        padding: rem-calc(15 25 25 25);
    }

    @media #{$large-up} {
        height: rem-calc(440);
        margin-top: 0;
    }
}

// Internal
.internal .blog-panel {
    background: inherit;
    height: auto;

    .inner {
        padding: 0;
        @media #{$medium-up} {
            padding: rem-calc(15 25 25 25);
        }
    }
}

//=========================================
// Block Grid
//=========================================

.blog-panel ul {
    @include block-grid(1);
    @media #{$medium-up} { @include block-grid(3); }
    @media #{$large-up}  { @include block-grid(1); }

    li {
        padding-bottom: 0;
    }
}

// Homepage - divider is vertically centered
.homepage .blog-panel li {
    @media #{$medium-up} {
        padding-bottom: 0;
    }
}

// Internal
.internal .blog-panel ul {
    @media #{$large-up} {
        @include block-grid(3);
    }
}

//=========================================
// Header - Speech Bubble Icon
//=========================================

.blog-panel h3 {
    position: relative;
    font-size: rem-calc(25);
    color: white;

    // Header border - makes long line
    border-bottom: 1px solid #F9576D;
    padding-bottom: rem-calc(10);

    i {
        margin-right: rem-calc(10);
        font-size: rem-calc(35);
        @media #{$large-up} {
            position: absolute; // speech bubble
            top: rem-calc(-5); // magic
            right: -15px; // magic

        }
    }
}

.internal .blog-panel i {
    position: static;
}

// Internal
.internal .blog-panel h3 {
    border-bottom: 1px solid #474747;
    padding-bottom: rem-calc(10);

    a {
        position: absolute;
        top: rem-calc(15);
        right: 0;
        color: white;
        font-size: rem-calc(13);

        i {
            font-size: rem-calc(13);
        }
    }
}

//=========================================
// Button
//=========================================

.blog-panel .button {
    background: #CC253A;
    padding-right: rem-calc(25);
    text-transform: uppercase;
    margin-bottom: 0;
    font-size: rem-calc(12);
    font-weight: bold;

    @media #{$large-up} {
        position: absolute;
        bottom: 0;
    }
}

// Internal
.internal .blog-panel .button {
    background: none;

    @media #{$medium-up} {
        position: absolute;
        top: rem-calc(20);
        right: rem-calc(10);
        width: auto;
        background: none;
        display: inline-block;
        padding-right: rem-calc(15);
    }
}

//=========================================
// Blog Article
//=========================================

.blog-article {
    padding: rem-calc(15 0);
    line-height: 1.2;
    border-bottom: 1px solid lighten($primary-color, 10%);

    @media #{$medium-up} {
        border: 0;
    }

    @media #{$large-up} {
        border-bottom: 1px solid lighten($primary-color, 10%);
    }

    a {
        font-size: rem-calc(16);
        color: white;
        display: block;
        margin-bottom: rem-calc(5);
    }

    date {
        font-size: rem-calc(12);
        font-weight: bold;
        color: lighten($primary-color, 25%);
        text-transform: uppercase;
    }
}

.blog-panel li:last-child .blog-article {
    border-bottom: 0;
}

// Internal
.internal .blog-article {
    border: 0;

    date {
        color: #848383;
    }
}

//=========================================
//
//=========================================





