/*
    BLOG-PANEL.CSS

    - Last updated: 05.12.14
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Blog Section (Internal)
//-----------------------------------------------------------------

.block-panel {
    background: #DEDEDC;
}

.blog-section {
    // background: $secondary-color;

    @media #{$medium-up} {
        padding: rem-calc(20 0);
    }
}

//-----------------------------------------------------------------
// Blog Panel
//-----------------------------------------------------------------

.blog-panel {
    position: relative;
    // background: rgba($primary-color, 0.7);
    margin-top: rem-calc(30); // a bit hacky

    .inner {
        padding: rem-calc(30);
        overflow: hidden;

        @media #{$medium-up} {
            max-height: rem-calc(170);
        }

        @media #{$large-up} {
            max-height: rem-calc(420);
        }
    }

    @media #{$large-up} {
        height: rem-calc(520);
        margin-top: 0;
    }
}

// Internal
.internal .blog-panel {
    background: inherit;
    height: auto;

    .inner {
        padding: 0;
        @media #{$medium-up} {
            padding: rem-calc(15 25 25 25);
        }
    }
}

//=========================================
// Block Grid
//=========================================

.blog-panel ul {
    @include block-grid(1);
    @media #{$medium-up} { @include block-grid(3); }
    @media #{$large-up}  { @include block-grid(1); }

    li {
        padding-bottom: 0;
    }
}

// Homepage - divider is vertically centered
.homepage .blog-panel li {
    @media #{$medium-up} {
        padding-bottom: 0;
    }
}

// Internal
.internal .blog-panel ul {
    @media #{$large-up} {
        @include block-grid(3);
    }
}

//=========================================
// Header
//=========================================

.blog-panel h3 {
    position: relative;
    font-size: rem-calc(25);
    font-weight: 600;
    text-transform: none;
    padding-bottom: rem-calc(10);
}

//=========================================
// Button
//=========================================

.blog-panel .button {
    background: none;
    padding-right: rem-calc(25);
    margin-bottom: rem-calc(10);;
    color: $secondary-color;

    @media #{$large-up} {
        position: absolute;
        bottom: 0;
    }
}

//=========================================
// Blog Article
//=========================================

.blog-article {
    padding: rem-calc(15 0);
    line-height: 1.2;
    // border-bottom: 1px solid lighten($primary-color, 10%);

    @media #{$medium-up} {
        border: 0;
    }

    @media #{$large-up} {
        // border-bottom: 1px solid lighten($primary-color, 10%);
    }

    a {
        font-size: rem-calc(16);
        // color: white;
        color: $secondary-color;
        font-size: rem-calc(14);
        font-weight: bold;
        display: block;
        margin-bottom: rem-calc(5);
    }

    date {
        display: block;
        font-size: rem-calc(12);
        margin-bottom: rem-calc(10);
        // color: lighten($primary-color, 25%);
        color: $secondary-color;
        text-transform: uppercase;
    }
}

.blog-panel li:last-child .blog-article {
    border-bottom: 0;
}

//=========================================
//
//=========================================





