/*
    BUTTONS.CSS

    - Last updated: ^^^^^^^^
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Buttons
//-----------------------------------------------------------------

.button {
	text-transform: uppercase;
	min-width: rem-calc(100);

	&:after {
		position: relative;
		top: 1px;
		content: "\f105";
		font-family: "FontAwesome";
		margin-left: rem-calc(5);
		font-size: rem-calc(16);
		line-height: 0;
	}
}

.grey-button {
	padding: rem-calc(0 15);
	line-height: 30px;
	background: #F4F4F4;
	color: #97A2AA;
	font-size: rem-calc(14);
	font-weight: normal;
	margin: 0;

	&:after {
		display: none;
	}
}

//=========================================
//
//=========================================