@import "foundation/settings";
/*
    MEDIA-TILE.CSS

    - updated: 04.12.14
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------

$light-grey: grey;

//-----------------------------------------------------------------
// Media Tile
//-----------------------------------------------------------------

.media-tile {
    position: relative;
    display: block;
    overflow: hidden;
    height: rem-calc(200);
    background-repeat: no-repeat;
    background-position: center center;

    margin-bottom: rem-calc(10);

    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;

    @media #{$medium-up} {
        height: rem-calc(255);
        margin-right: rem-calc(10);
    }
}

.last .media-tile {
    @media #{$devices-only} {
        margin-right: 0;
    }
}

//=========================================
// Icon Arrow
//=========================================

.media-tile i {
    position: absolute;
    right: rem-calc(15);
    bottom: rem-calc(10); // needs to line up with text
    font-size: rem-calc(36);
    font-size: rem-calc(45);
    color: #8F969A;
}

//=========================================
// Text
//=========================================

.media-tile .text {
    position: absolute;
    bottom: 0;
    display: inline-block;
    padding: rem-calc(15 40 15 15);

    background: rgba(0,0,0,0.65);
    width: 100%;

    color: white;
    line-height: 1.2;

    h2 {
        font-weight: bold;
        margin-bottom: rem-calc(10);
        line-height: 1.2;
        color: white;
        text-transform: none;

        @media #{$medium-up} {
            font-size: rem-calc(21);
        }
    }

    // Optional
    .desc {
        padding-top: rem-calc(5); // special case
        display: block;
        font-weight: normal;
        font-size: rem-calc(12);

        max-height: rem-calc(50);
        // line-height: 2;
        overflow: hidden;

        @media #{$medium-up} {
            font-size: rem-calc(14);
        }
    }

    @media #{$large-up} {
        font-size: rem-calc(20);
    }

    @media #{$xlarge-up} {
        font-size: rem-calc(24);
    }
}

//=========================================
// Tagline
//=========================================

.blog-item .tagline {
    display: block;
    color: lighten($body-font-color, 15%);
    font-size: rem-calc(16);
    margin-bottom: rem-calc(15);
}

.blog-item .excerpt a {
    display: inline-block;
}

.no-touch .media-tile:hover {
    // background: darken($midnight, 10%)
}

.no-touch .media-tile:hover i {
    color: white;
}

//=========================================
// Media Tiles
//=========================================

.media-tiles-light {
    .media-tile {
        background: #EFEFEF;

        .text h2 {
            color: #404141;
            font-size: rem-calc(20);
        }

         .desc {
            color: #404141;
         }

        i {
            color: #C8C7C7;
        }
    }
}

// Not sure why the JS library isn't picking this up
.no-touch .media-tiles-light .media-tile:hover {
    background: darken($light-grey, 40%);

    .text h2 {
        color: white;
    }

    .desc {
        color: white;
    }
}

/*  Bit of a hack */
@media (max-width: 767px) {
    .media-tiles li {
        width: 100%;
    }
}