/*
    NAVIGATION.CSS

    - Last updated: 05.02.15
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------

$column-gutter: 15px !default;

//-----------------------------------------------------------------
// Navigation
//-----------------------------------------------------------------

.global-navigation {
	position: absolute; // locked
	width: 100%; // locked
}

// Fixes glitch with MMenu changing viewport widths when scrollbar disappears
// html.no-touch {
// 	overflow-y: scroll !important;
// }

//-----------------------------------------------------------------
// Topbar
//-----------------------------------------------------------------

.topbar {
	// Option to have in flow on medium

	@media #{$large-up} {
	    position: absolute;
	    bottom: 60px;
	    width: 100%; // locked
	    padding: 0 $column-gutter/2; // locked
	    // background: orange;
	}
}

// General ULs
.topbar ul {
	list-style: none; // locked
	margin: 0; // locked
	font-size: rem-calc(16);
}

// Visual UL
.topbar > ul {
	// text-align: center;
	display: table;
	// width: 100%; // option A
	float: right; // option B
	// background: aqua;
}

.topbar > ul > li {
	// position: relative; // option - depending on dropdown
	display: table-cell;
}

.topbar > ul > li > a {
	display: block;
	line-height: rem-calc(40);
	padding: rem-calc(0 15);
	text-transform: uppercase;
}

//-----------------------------------------------------------------
// Links
//-----------------------------------------------------------------

.topbar a {
	// color: $primary-color;
	color: #ddd;
}

//-----------------------------------------------------------------
// Nested Dropdowns
//-----------------------------------------------------------------

.topbar .has-dropdown:hover > a,
.topbar .has-dropdown:hover > a {
	background: $primary-color;
	color: white;
}

.topbar .dropdown {
	position: absolute;
	top: 100%;
	// left: 0; // option
	right: $column-gutter/2;
	border-top: 10px solid $primary-color;
	// width: rem-calc(272);
	min-width: rem-calc(450);
	// opacity: 0;
	// height: 0; // so hit areas aren't triggered
	overflow: hidden; // so hit areas aren't triggered

	li {
		margin: 0; // locked
	}
}

// Dropdown Color is here
.topbar .dropdown a {
	// display: block;
	display: inline-block;
	padding: rem-calc(10 15);
	background: #0286C6;
	color: white;
}

//-----------------------------------------------------------------
// Hover & Active States
//-----------------------------------------------------------------
.topbar .has-dropdown:hover > .dropdown {
	opacity: 1;
	height: auto;
	overflow: visible;
}




