{% assign settings = site.data.settings %}
{% assign news_entries = site.data.articles %}

<div class="block-panel blog-panel">
	<div class="inner">
		<h3>News</h3>
		<ul class="block-list">
			{% for item in news_entries limit: 4 %}
				<li>
					<!-- SERVER-SIDE TRUNCATION IS *VERY* IMPORTANT HERE -->
					<article class="blog-article">
						<date>{{ item.date }}</date>
						<a href="{{ item.url }}">{{ item.title | truncate: 65 }} &nbsp;<i class="fa fa-angle-right"></i></a>
					</article>
				</li>
			{% endfor %}
		</ul>
	</div> <!-- .inner -->
	<a class="button expand text-right" href="#">More News</a>
</div> <!-- .blog-panel -->