{% comment %}
    IGNORE THIS COMMENT: Interchange code reference for dev self:
    <img width="200" data-interchange="[/ImageGen.ashx?width=200&image=@logo.Url, (default)], [@logo.Url, (retina)]" alt="@logo.Name">
{% endcomment %}

{% assign settings = site.data.settings %}
{% assign logo = "/img/content/logo.png" %}

<div class="row outer-row">
    <div class="columns">

        <!-- Logo -->
        <a class="logo" href="/" title="{{ settings.seo_title }}" itemprop="url">
            <img src="{{ logo }}" alt="{{ settings.company_title }}" itemprop="logo">
        </a>

        <!-- Search Form -->
        <div class="search-wrapper show-for-large-up">
            <div class="row collapse">
                <div class="small-5 columns">
                    <a href="#" class="button grey-button"><i class="fa fa-lock"></i>&nbsp; Client Login</a>
                </div>
                <div class="small-7 columns">
                    <form class="search-form">
                        <input type="text" placeholder="SEARCH">
                    </form>
                </div>
            </div> <!-- .row -->
        </div> <!-- .search-wrapper -->

        <!-- Hamburger -->
        <div class="global-header-mobile-menu hide-for-large-up">
             <span class="hamburger"><span class="hamburger-icon"></span></span>
        </div>

    </div>
</div>