{% assign stubbed_image_url = item.img_path %}
{% assign img_path = "/img/content/media-tile-1.png" %}
<!-- { % assign img_path = "http://lorempixel.com/610/260/business" %} -->

<a class="media-tile image-tile" href="{{ item.url }}" style="background-image: url({{ img_path | prepend: site.assets }})">
    <div class="text">
        <h2>{{ "Title goes here" }}</h2>

		<!-- Optional -->

        <span class="desc">
            "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco."
        </span>


    </div>
    <i class="fa fa-angle-right"></i>
</a>