{% assign stubbed_image_url = item.img_path %}

<a class="media-tile image-tile" href="{{ item.url }}" style="background-image: url(../img/content/media-tile-1.png)">
    <div class="text">
        <h2>{{ "Title goes here" }}</h2>

		<!-- Optional -->

        <span class="desc">
            "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco."
        </span>


    </div>
    <i class="fa fa-angle-right"></i>
</a>