{% assign settings = site.data.settings %}
{% comment %}
    Trigger Example:
    <a href="#" data-reveal-id="client-login-modal">Launch Modal</a>
{% endcomment %}

<!-- CLIENT LOGIN MODAL -->

<div id="client-login-modal" class="reveal-modal" data-reveal aria-labelledby="client-login-modal-title" aria-hidden="true" role="dialog">
    <div class="row">
        <div class="columns">
            <h2 id="client-login-modal-title">Client Login</h2>

            <section class="modal-body">
                <div class="row">
                    <div class="medium-10 large-10 columns">
                        <form data-abide novalidate method="post" action="#">
                            <!-- Username -->
                            <div class="row">
                                <div class="medium-5 columns">
                                    <label>
                                        <input name="username" type="text" placeholder="USER NAME / EMAIL" required>
                                    </label>
                                    <small class="error">Your username is required.</small>
                                </div>
                                <!-- Password -->
                                <div class="medium-5 columns">
                                    <label>
                                        <input name="password" type="password" placeholder="PASSWORD" required>
                                    </label>
                                    <small class="error">Your password is required.</small>
                                </div>
                                <!-- Submit -->
                                <div class="medium-2 columns">
                                    <button type="submit" class="button">Log In</button>
                                </div>
                            </div>
                        </form>
                    </div> <!-- .columns -->
                </div> <!-- .row -->
            </section> <!-- .modal-body -->

            <p><a href="#" data-reveal-id="client-login-password-modal"> Forgot password?</a></p>
        </div> <!-- .columns -->
    </div> <!-- .row -->
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div> <!-- reveal-modal -->

<!-- CLIENT LOGIN - PASSWORD REMINDER MODAL -->

<div id="client-login-password-modal" class="reveal-modal" data-reveal aria-labelledby="client-login-password-modal-title" aria-hidden="true" role="dialog">
    <div class="row">
        <div class="columns">
            <h2 id="client-login-password-modal-title">Client Login<br class="show-for-small-only"> - Password Reminder</h2>

            <section class="modal-body">

                <!-- Success Prompt (Hidden by default - remove hide class to show) -->
                <div id="modal-success-prompt" class="alert-box success hide animated fadeIn">Your password has been emailed to you</div>

                <!-- Error Prompt (Hidden by default - remove hide class to show) -->
                <div id="modal-error-prompt" class="alert-box error hide animated fadeIn">Your password has been emailed to you</div>

                <div class="form-contents"> <!-- add 'hide' class on form submission callback -->
                    <div class="row">
                        <div class="medium-6 large-5 columns">
                            <form data-abide novalidate method="post" action="#">
                                <!-- Username -->
                                <div class="row">
                                    <div class="medium-10 columns">
                                        <label>
                                            <input name="username" type="text" placeholder="USER NAME / EMAIL" required>
                                        </label>
                                        <small class="error">Your username is required.</small>
                                    </div>
                                    <!-- Submit -->
                                    <div class="medium-2 columns">
                                        <button type="submit" class="button">Send</button>
                                    </div>
                                </div>
                            </form>
                        </div> <!-- .columns -->
                    </div> <!-- .row -->
                </div> <!-- .form-contents -->
            </section> <!-- .modal-body -->

            <p><a href="#" data-reveal-id="client-login-modal"><i class="fa fa-angle-left"></i>&nbsp; Back to Client Login</a></p>
        </div> <!-- .columns -->
    </div> <!-- .row -->
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>