{% assign settings = site.data.settings %}
{% assign news_entries = site.data.articles %}
{% assign max_entries = include.max_entries %}

<div class="news-panel">
	<div class="news-panel-inner">
		<h3>News</h3>
		<ul class="block-list">
			{% for item in news_entries | limit: max_entries %}
				<li class="{% if forloop.index == 4 %} show-for-large-up {% endif %}">
					<!-- SERVER-SIDE TRUNCATION IS *VERY* IMPORTANT HERE (65 chars max) -->
					<article class="news-article">
						<date>{{ item.date }}</date>
						<a href="/about/news/news-item/">{{ item.title | truncate: 65 }} &nbsp;<i class="fa fa-angle-right"></i></a>
					</article>
				</li>
			{% endfor %}
		</ul>
	</div> <!-- .news-panel-inner -->
	<a class="button expand text-right" href="/about/news/">More News</a>
</div> <!-- .news-panel -->