<aside class="sidebar">

    {% include snippets/side_nav_andr.html %}

    <div class="feature-panels">
        <div class="row">
            <div class="medium-6 large-12 columns">
                <div class="feature-panel">
                    <h4><i class="fa fa-comment"></i>&nbsp; Get in Touch</h4>
                    <p>Some text here about contacting Macks Advisory, and the link will lead to a form.</p>
                    <p class="text-right"><a class="button">Contact Us Today</a></p>
                </div> <!-- .feature-panel -->
            </div>
            <div class="medium-6 large-12 columns">
                <div class="feature-panel">
                    <h4><i class="fa fa-envelope"></i>&nbsp; Newsletter</h4>
                    <p>Some text here about contacting Macks Advisory, and the link will lead to a form.</p>
                    <p class="text-right"><a class="button">Join</a></p>
                </div> <!-- .feature-panel -->
            </div>
        </div> <!-- .row -->
    </div> <!-- .feature-panels -->

    {% if page.include_news %}
        {% include news_panel.html max_entries="3" %}
    {% endif %}

</aside>