/*
    SIDE-NAV.CSS

    - updated: 10.04.15
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// Side Nav
//-----------------------------------------------------------------

.side-nav {
    list-style: none;
    margin: 0;

    > li {
        margin-bottom: rem-calc(5);
    }

    ul {
        list-style: none;
        margin: 0;

        li {
            margin-bottom: 0;
        }

        a {
            padding: rem-calc(15 35);
        }
    }

    .active a {
        background: darken($primary-color, 10%);
        position: relative;

        &:after {
            content: "\f105";
            font-size: rem-calc(20);
            font-family: 'FontAwesome';
            position: absolute;
            top: 0;
            right: 20px;
            height: 100%;
            line-height: 55px;
        }
    }

    a {
        display: block;
        background: $primary-color;
        color: white;
        padding: rem-calc(15 20);
        font-size: rem-calc(16);
    }
}

//=========================================
//
//=========================================