/*
    SIDEBAR.CSS

    - Last updated: ^^^^^^^^
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Sidebar
//-----------------------------------------------------------------

.sidebar .feature-panel {
	background: $tertiary-color;
	padding: rem-calc(20 20 0 20);
	overflow: hidden;
	margin-bottom: rem-calc(5);

	h1, h2, h3, h4, h5, h6 {
		text-transform: uppercase;
	}

	.button {
		width: 80%;
		text-align: right;
		background: $primary-color;
		margin-bottom: 0;
	}
}

//=========================================
//
//=========================================