/*
    GLOBAL.CSS

    - Last updated: ^^^^^^^^
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------

$page-padding: rem-calc(40) !default;

//-----------------------------------------------------------------
// Foundation Overrides (Hacks)
//-----------------------------------------------------------------

html, body {
	//@media #{$small-only} {
        //font-size: 90%;
	//}
    // background: red;
}

html {
    overflow-x: hidden;
}

//-----------------------------------------------------------------
// Client Area Bar (When logged in)
//-----------------------------------------------------------------

.client-area-bar {
	// position: fixed;
	// top: 0;
	// width: 100%;
	background: #37E2B3;
	color: #29515D;
	padding: rem-calc(12 0);

	p, .button {
		margin-bottom: rem-calc(5);
		@media #{$medium-up} {
		    margin: 0;
		}
	}

	p {
		margin-right: rem-calc(20);
	}

	.button {
		position: relative;
		top: -2px;
		background: #30CAA1;
		color: #29515D;
		padding: rem-calc(5 10);

		&:hover {
			@media #{$medium-up} {
			    background: darken(#30CAA1, 5%);
			    color: white;
			}
		}
	}

	.log-out-button:after {
		content: "";
	}
}

//-----------------------------------------------------------------
// Snap Grid
//
// Tells grid to "snap" into each breakpoint.
// Removes issue of seeing elements super large
// before falling into place naturally.
//
// Notes:
// 5.000em = 80 (page-padding * 2)
// Using EMs because media queries in Foundation do so
//-----------------------------------------------------------------

// .row {
//     @media #{$medium-up}  { max-width: upper-bound($medium-range);  }
//     @media #{$large-up}   { max-width: upper-bound($large-range);   }
//     @media #{$xlarge-up}  { max-width: upper-bound($xlarge-range);  }
//     @media #{$xxlarge-up} { max-width: upper-bound($xxlarge-range); }
// }

//=========================================
//
//=========================================

.row {
	@media #{$medium-up}  { max-width: upper-bound($medium-range)  + 5.000em; }
	@media #{$large-up}   { max-width: upper-bound($large-range)   + 5.000em; }
	@media #{$xlarge-up}  { max-width: upper-bound($xlarge-range)  + 5.000em; }
	// @media #{$xxlarge-up} { max-width: upper-bound($xxlarge-range) + 5.000em; }
}

//=========================================
// Determine side (page) padding
//=========================================

.outer-row {
	@media #{$medium-up} {
		padding-left: $page-padding - $column-gutter / 2;
		padding-right: $page-padding - $column-gutter / 2;
	}
}

// Collapse Left Large - used in promo tiles
.lv-super .collapse-left-for-large {
	@media #{$large-up} {
	    padding-left: 0;
	}
}

// Collapse Right Large - used in promo tiles
.lv-super .collapse-right-for-large {
	@media #{$large-up} {
	    padding-right: 0;
	}
}

// Collapse Large
.lv-super .collapse-for-large {
	@media #{$large-up} {
	    margin: 0;

	    .columns {
	    	padding-left: 0;
	    	padding-right: 0;
	    }
	}
}

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------

// Ensure images scale to block grid LIs */
// ul[class*='block-grid'] li img {
// 	width: 100%;
// }

//-----------------------------------------------------------------
// lv-super: top-most non-visual wrapper | lv-page: visual wrapper
//-----------------------------------------------------------------

//=========================================
//
//=========================================