---
layout: master
---

{% assign settings = site.data.settings %}
{% assign promo_practices = site.data.promo_practices %}

<!-- HERO -->
<div class="lv-hero">
	<div class="row outer-row">
		<div class="large-9 columns collapse-right-for-large">

			{% for item in promo_practices %}
				<div class="row collapse">
					<div class="medium-7 columns">
						{% capture title %}{{ item.promos[0].title }}{% endcapture %}
						{% capture body %}{{ item.promos[0].body }}{% endcapture %}
						{% capture img_path %}{{ item.promos[0].img_path }}{% endcapture %}

						{% include media_tile_image.html title=title body=body img_path=img_path %}
					</div>
					<div class="medium-5 columns last">
						{% capture title %}{{ item.promos[1].title }}{% endcapture %}
						{% capture body %}{{ item.promos[1].body }}{% endcapture %}
						{% capture img_path %}{{ item.promos[1].img_path }}{% endcapture %}

						{% include media_tile_image.html title=title body=body img_path=img_path %}
					</div>
				</div> <!-- .row -->
			{% endfor %}

		</div> <!-- .columns -->
		<div class="large-3 columns collapse-left-for-large">
			{% include news_panel.html max_entries="4" %}
		</div> <!-- .columns -->
	</div> <!-- .row -->
</div> <!-- .lv-hero -->

<!-- THREE PANE FEATURE -->
<section class="three-pane-feature">
	<div class="row outer-row">
		<div class="large-6 columns feature-1">

			<div class="feature-panel">
				<header class="header">
					<div class="row collapse">
						<div class="small-10 columns">
							<h3>Welcome to Mack's Advisory</h3>
						</div>
						<div class="small-2 columns text-right">
							<i class="fa fa-align-left"></i>
						</div>
					</div>
				</header>

				<!-- Text -->
				<div class="text">
					<p>Macks Advisory helps companies unlock value in insolvent or near-insolvent situations. We are a boutique advisory firm specialising in Corporate Advisory, Restructure &amp; Turnaround and both Corporate &amp; Personal Insolvency. Our focus is on dealing with companies and individuals in financial stress, turning them around where possible and working closely with stakeholders to maximise returns or minimise losses.</p>
				</div>

				<a class="button right">More</a></p>
			</div> <!-- .columns.feature-1 -->
		</div>
		<div class="large-6 columns">
			<div class="row collapse-for-large">
				<div class="medium-6 columns feature-2">

					<div class="feature-panel">
						<header class="header">
							<div class="row collapse">
								<div class="small-9 columns">
									<h3>Client Login</h3>
								</div>
								<div class="small-3 columns text-right">
									<i class="fa fa-lock"></i>
								</div>
							</div>
						</header>

						<!-- Text -->
						<div class="text">
							<p>Some introduction text explaining the client login area.  Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.</p>
						</div>

						<a class="button right">Log In</a>
					</div> <!-- .columns.feature-2 -->

				</div>
				<div class="medium-6 columns feature-3">
					<div class="feature-panel">
						<header class="header">
							<div class="row collapse">
								<div class="small-9 columns">
									<h3>Newsletter</h3>
								</div>
								<div class="small-3 columns text-right">
									<i class="fa fa-envelope"></i>
								</div>
							</div>
						</header>

						<!-- Text -->
						<div class="text">
							<p>Stay up to date with important news on topics such as corporate advisory, restructure & turnaround, and insolvency. <a href="#">View our previous newsletters here</a></p>
						</div>

						<a class="button right">Join</a>
					</div> <!-- .columns.feature-3 -->

				</div>
			</div>
		</div>
	</div>
</section>