---
layout: master
hero_link: /some-link-here/
---

{% assign settings = site.data.settings %}

<section class="three-pane-feature">
	<div class="row outer-row">
		<div class="large-5 columns feature-1">

			<div class="feature-panel">
				<!-- Header -->
				<header class="header">
					<div class="row collapse">
						<div class="small-10 columns">
							<h3>Welcome to Mack's Advisory</h3>
						</div>
						<div class="small-2 columns text-right">
							<i class="fa fa-align-left"></i>
						</div>
					</div>
				</header>

				<!-- Text -->
				<div class="text">
					<p>Macks Advisory helps companies unlock value in insolvent or near-insolvent situations. We are a boutique advisory firm specialising in Corporate Advisory, Restructure &amp; Turnaround and both Corporate &amp; Personal Insolvency. Our focus is on dealing with companies and individuals in financial stress, turning them around where possible and working closely with stakeholders to maximise returns or minimise losses.</p>
				</div>

				<a class="button right">More</a></p>
			</div> <!-- .feature-1 -->
		</div>
		<div class="large-7 columns">
			<div class="row collapse-for-large">
				<div class="medium-6 columns feature-2">

					<div class="feature-panel">
						<!-- Header -->
						<header class="header">
							<div class="row collapse">
								<div class="small-9 columns">
									<h3>Client Login</h3>
								</div>
								<div class="small-3 columns text-right">
									<i class="fa fa-lock"></i>
								</div>
							</div>
						</header>

						<!-- Text -->
						<div class="text">
							<p>Some introduction text explaining the client login area.  Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.</p>
						</div>

						<a class="button right">Log In</a>
					</div> <!-- .feature-2 -->

				</div>
				<div class="medium-6 columns feature-3">
					<div class="feature-panel">
						<!-- Header -->
						<header class="header">
							<div class="row collapse">
								<div class="small-9 columns">
									<h3>Newsletter</h3>
								</div>
								<div class="small-3 columns text-right">
									<i class="fa fa-envelope"></i>
								</div>
							</div>
						</header>

						<!-- Text -->
						<div class="text">
							<p>Stay up to date with important news on topics such as corporate advisory, restructure & turnaround, and insolvency. <a href="#">View our previous newsletters here</a></p>
						</div>

						<a class="button right">Join</a>
					</div> <!-- .feature-3 -->

				</div>
			</div>
		</div>
	</div>
</section>



<!-- <a href="/styleguide/">styleguide</a> -->