---
layout: master
---

{% comment %}
    <!-- BREADCRUMBS -->
    <nav class="breadcrumbs-bar">
        <div class="row collapse outer-row">
            <div class="columns">
                {% include snippets/breadcrumbs.html %}
            </div> <!-- .columns -->
        </div> <!-- .row -->
    </nav> <!-- .breadcrumbs-wrapper -->
{% endcomment %}

<section class="content">
    <div class="row outer-row">
        <div class="large-9 large-push-3 columns">
            <main class="main">
                <header class="main-header">
                    <h1>{{ page.title }}</h1>

                    <!-- Opt-in Back Button -->
                    {% if page.back_title %}
                        <a class="button grey-button" href="#" ><i class="fa fa-angle-left"></i>&nbsp; Back to {{ page.back_title }}</a>
                    {% endif %}

                </header>
                {{ content }}
            </main>
        </div>
        <div class="large-3 large-pull-9 columns">
            {% include sidebar.html %}
        </div>
    </div>
</section>