/*
    BUTTONS.CSS

    - Last updated: ^^^^^^^^
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Buttons
//-----------------------------------------------------------------

.button {
	text-transform: uppercase;
	min-width: rem-calc(100);

	&:after {
		position: relative;
		top: 1px;
		content: "\f105";
		font-family: "FontAwesome";
		margin-left: rem-calc(5);
		font-size: rem-calc(16);
		line-height: 0;
	}
}

//=========================================
// Grey Button (back)
//=========================================

.grey-button {
	padding: rem-calc(0 15);
	line-height: 30px;
	background: #F4F4F4;
	color: $secondary-color;
	font-size: rem-calc(11);
	font-weight: bold;
	margin: 0;

	&:after {
		display: none;
	}
}

//=========================================
// // feux anchor
//=========================================

.read-more {
	color: $primary-color;
	white-space: nowrap;
}

//=========================================
//
//=========================================

.lv-super .global-footer .special-download-button {
	position: relative;
	@include transition('background-color, border-color');
	background: #004D67;
	border-color: #004D67;
	width: auto;
	padding: rem-calc(0 15);

	&:hover {
		@media #{$large-up} {
		    background: darken(#004D67, 5%);
		    border-color: darken(#004D67, 5%);
		    color: white;
		}
	}

	.fa-file {
		font-size: rem-calc(20);
		line-height: 0;
		vertical-align: middle;
		position: relative;
		top: -4px;

		// @media #{$small-only} {
		// }
	}

	.text {
		position: relative;
		top: -5px;
		font-size: rem-calc(14);
	}
}



