/*
    MEDIA.CSS

    - Last updated: ^^^^^^^^
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Media
//-----------------------------------------------------------------

// Used in content - align with [.image-right, .image-left] classes
.media-panel {
	margin-bottom: rem-calc(30);

	&.image-left img,
	&.image-right img {
		@media #{$small-only} {
		    width: 100%;
		}
	}
}

.media-panel-content {
	background: $light-grey;
	padding: rem-calc(20 30 5 30);

	h1, h2, h3, h4, h5, h6 {
		text-transform: uppercase;
	}

	.fa-file-pdf-o {
		color: #AFC3CC;
		font-size: rem-calc(20);
	}
}

//=========================================
//
//=========================================