@import "foundation/settings";
/*
    MEDIA-BLOCK.CSS

    - updated: 08.12.14
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Media Tile
//-----------------------------------------------------------------

.media {
    display: table;

    .media-img, .media-body {
        @media #{$medium-up} {
            display: table-cell;
            vertical-align: top;
        }
    }

    .media-img {
        margin: 0; // failsafe
        padding-bottom: rem-calc(20);

        @media #{$medium-up} {
            padding: rem-calc(0 20 20 0);

            // Fix problem of unpredictable text. Unfortunately have to specify width instead of letting it be driven by image and content
            width: rem-calc(212); // optimal viewing size
        }

        img {
            width: 100%;
        }
    }

    .media-body {
        color: $body-font-color;
        // max-width: 768px; This didn't work for tiny headings and paragraphs

        p {
            margin-bottom: 0; // let HR decide its own padding
        }

        .media-link {
            display: inline-block;
            color: $primary-color;
            // word-break: break-word;
        }
    }
}

//-----------------------------------------------------------------
// Tagline
//-----------------------------------------------------------------

.media-tagline {
    display: block;
    color: lighten($body-font-color, 15%);
    margin-bottom: rem-calc(15);
}

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------

