/*
    SECTIONS.CSS

    - Last updated: ^^^^^^^^
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Sections
//-----------------------------------------------------------------

.content {
	padding-top: rem-calc(20);
	padding-bottom: rem-calc(60);
	background: url(../img/template/content-bg.png) repeat-x;

	@media #{$large-up} {
	   padding-top: rem-calc(80);
	}
}

.main {
	// internal template better aligns main text
	@media #{$large-up} {
		padding-left: rem-calc(30);
	}
}

.gallery-section {
	margin-top: rem-calc(40);
}

//=========================================
//
//=========================================