/*
    TEXT-EDITOR.CSS

    - Last updated: 20.04.15
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Text Editor Classes
//-----------------------------------------------------------------

.image-right {
	@media #{$medium-up} {
	    float: right;
	    margin: rem-calc(0 0 30 30);
	}
}

.image-left {
	@media #{$medium-up} {
	    float: left;
	    margin: rem-calc(30 30 0 0);
	}
}

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------
//=========================================
//
//=========================================